/**
 * atkins-slider.css
 */
.slider-gallery {
	position: relative;

	/* These lines make it keep an apect-ratio */
	height: 0;
	padding-bottom: 75%;
}
.slider-item {
	/* slider-item fills the slider-gallery parent */
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	padding: 0;
	margin: 0;

	display: none;
}
.slider-item.current {
	display: block;
}

img.slider-image {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	border: 0;
	margin: 0;
}

.slider-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	padding: 0.5em;
}
.slider-caption {
	color: white;
}
.slider-dots {
	list-style: none;
	float: right;
}
.slider-dot {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	margin: 0 0.25em;

	background-color: lightgray;
	cursor: pointer;
}
.slider-dot.current,
.slider-dot:hover {
	background-color: gray;
}